<div class="card-list">
    <div class="card">
        <img src="../../../assets/imagens/food.JPG" (click)="openDialog()">
        <div class="card-body">
            <h4 class="card-title">Nome da Receita</h4>

            <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>

            <button mat-icon-button color="primary" aria-label="Example icon button with a heart icon">
          <mat-icon>bookmark</mat-icon>
        </button>
        </div>
    </div>


    <div class="card">
        <img src="../../../assets/imagens/food.JPG" (click)="openDialog()">
        <div class="card-body">
            <h4 class="card-title">Nome da Receita</h4>

            <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>

            <button mat-icon-button color="primary" aria-label="Example icon button with a heart icon">
        <mat-icon>bookmark</mat-icon>
      </button>
        </div>
    </div>


</div>